body{
    background-color: lightslategray;
};

#container{                                
    margin-left: 25%;
    background-color: lightsteelblue;
};


element.style{
    width: fit-content;
}
#quest-container{
    width: fit-content;
    background-color: lightyellow;
}
button{
    margin-left: 200px;
}