body{
    background-color: lightslategray;
    
};

.initials{
    display: none;
}

.start-hidden{
    display: none;
}


/* timer/score box */
nav{
    height: 100px;
};


/* options section */
#options{
    margin-left: 10px;
};

/* main container */
#container{                               
    margin-left: 25%;
    background-color: lightsteelblue;
};
/* question container */
#quest-container{
    width: 100%;
    background-color: lightyellow;
    height: 400px;
    
}
