body{
    background-color: lightslategray;
    
};
/* initial box starts out hidden until timer runs out */
#initials{
    display: none;
}
/* start button hides after pressed */
.start-hidden{
    display: none;
}


/* timer/score box */
nav{
    height: 100px;
};


/* options section */
#options{
    margin-left: 10px;
};

/* main container */
#container{                               
    margin-left: 25%;
    background-color: lightsteelblue;
};
/* question container */
#quest-container{
    width: 100%;
    background-color: blue;
    height: 400px;
    
}
